.carousel-caption {
top: 28%;
font-size: medium;
}
/* mobile view  */
@media only screen and (min-width: 768px) {
    .card{
        display: flex;
        flex-wrap: wrap;
    }
}
.acrd{
    padding-top: 150px;
}