.carousel-caption {
top: 28%;
font-size: medium;
}
/* mobile view  */
@media (max-width: 576px) {
    .card {
        width: 100%;
    }
    .carousel-caption{
        font-size: small;
        top: -5%;
    }
}
/* tab version  */
@media (min-width:768px) {
    .card {
    }
}
.acrd{
    padding-top: 150px;
}
.comp{
    padding-top: 120px;
}
.fot{
    height: 400px;
}
.add{
    padding-top: 80px;
}
.jon{
    padding-top: 120px;
}